@font-face {
  font-family: archer;
  src: url(ARCHER.TTF);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: archer;
}

.large-bubbles {
  position: fixed;
  top: -100px;
  width: 100%;
  height: 200%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbf5b6), color-stop(#fbefbc), color-stop(#fae7c5), color-stop(#cbe2f0), color-stop(#cbe2f0), to(#cbe2f0)), url("../img/home/large-bubble.png");
  background: linear-gradient(to bottom, #fbf5b6, #fbefbc, #fae7c5, #cbe2f0, #cbe2f0, #cbe2f0), url("../img/home/large-bubble.png");
  background-size: 100vw auto;
  background-position: center center;
  z-index: -1;
  opacity: 0.7;
}

.page-container {
  width: 100%;
  max-width: 1800px;
  margin: auto;
}

.shipping-info {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fb637e;
  font-size: 16px;
  font-weight: 900;
  padding: 0 20px;
}

.shipping-info .info {
  width: 70%;
  margin-left: auto;
}

.shipping-info .info p {
  color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 0.5px;
}

.shipping-info .info p span {
  font-size: 16px;
}

.shipping-info .btn-container button {
  background-color: #fb637e;
  border: none;
  color: #fff;
  font-weight: 200;
  font-size: 33px;
  line-height: 40px;
}

header {
  width: 100%;
  z-index: 200;
  background-color: #8cd0e3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 150px;
  border-bottom: 1px solid #fff;
}

header nav {
  width: 90%;
  margin: auto;
  padding: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header nav .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

header nav .left-col .hamburger {
  display: none;
}

header nav .left-col a {
  text-decoration: none;
  color: #333333;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

header nav .left-col a span {
  display: block;
}

header nav .left-col a span .fa {
  font-size: 33px;
  line-height: 50px;
}

header nav .center-col {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

header nav .center-col a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-shadow: 2px 1px 2px;
}

header nav .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

header nav .right-col a {
  text-decoration: none;
  color: #333333;
  display: block;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
}

header nav .right-col a span {
  display: block;
}

header nav .right-col a span .fa {
  font-size: 33px;
  line-height: 50px;
  position: relative;
}

header nav .right-col a span .fa span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  font-size: 18px;
  background-color: #f5ea77;
  position: absolute;
  right: 0;
  bottom: 0;
}

header .nav {
  width: 60%;
  margin: auto;
  height: 50px;
}

header .nav .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: unset;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 30px;
  list-style-type: none;
}

header .nav .main-nav li a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #333333;
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  text-shadow: 0px 0px 1px;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .nav .main-nav li a .fa {
  height: 18px;
  pointer-events: none;
}

header .nav .main-nav li .mega-menu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  background-color: #e3f6fa;
  min-height: 150px;
  max-height: 90vh;
  padding: 10px 10px 0 10px;
}

header .nav .main-nav li .mega-menu .sub-menu-container {
  background-color: #fff;
  min-height: inherit;
  padding-top: 15px;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col {
  width: 90%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col div {
  width: 25%;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col div h3 {
  border-bottom: 1px solid #dadada;
  padding-left: 20px;
  margin-bottom: 10px;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col div h3 a {
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col div ul {
  margin-top: 10px;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col div ul h3 {
  border-bottom: 1px solid #dadada;
  padding-left: 20px;
  color: rgba(51, 51, 51, 0.8);
  font-size: 16px;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col div ul li {
  list-style-type: none;
  margin-top: 13px;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col div ul li a {
  font-weight: 100;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.5);
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col div ul li a:hover {
  text-decoration: underline;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col .nav-slide {
  width: 40%;
  margin-left: auto;
  padding-top: 15px;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col .nav-slide .nav-slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col .nav-slide .nav-slide-container .nav-slide-section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 10px;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col .nav-slide .nav-slide-container .nav-slide-section .section a {
  display: block;
  width: 95px;
  text-align: center;
  text-decoration: none;
}

header .nav .main-nav li .mega-menu .sub-menu-container .sub-col .nav-slide .nav-slide-container .nav-slide-section .section a img {
  width: 100%;
  height: 100px;
}

header .nav .main-nav li .mega-menu h1 {
  padding: 0 0 10px 20px;
}

header .nav .main-nav li .mega-menu h1 a {
  font-size: 18px;
  color: rgba(51, 51, 51, 0.7);
}

header .nav .main-nav .active .mega-menu {
  display: block;
}

.main-slider {
  width: 100%;
  padding: 30px;
  background-color: #fff;
}

.slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 600px;
  margin: auto;
}

.slide-container .img-container {
  width: 45%;
  height: 400px;
}

.slide-container .img-container img {
  width: 100%;
  height: 100%;
}

.slide1 {
  background: -webkit-gradient(linear, left top, right top, from(#fffbf8), color-stop(#ffba8b), color-stop(#ffba8b), to(#ffba8b));
  background: linear-gradient(to right, #fffbf8, #ffba8b, #ffba8b, #ffba8b);
}

.slide1 .content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 30px;
}

.slide1 .content h2 {
  font-size: 33px;
  color: rgba(0, 0, 0, 0.8);
}

.slide1 .content p {
  font-size: 16px;
  line-height: 35px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.7);
  margin: 20px 0;
}

.slide1 .content .light-purple-btn {
  width: 200px;
  height: 40px;
  border: #237890;
  font-size: 16px;
  background-color: #237890;
  color: #fff;
  -webkit-box-shadow: 3px 3px 0 #73d2e4;
          box-shadow: 3px 3px 0 #73d2e4;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.slide1 .content .light-purple-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #948ad3;
          box-shadow: 3px 3px 0 #948ad3;
}

.slide1 .content .light-purple-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.slide1 .content .light-purple-btn:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.slide2 {
  background: -webkit-gradient(linear, left top, right top, from(#fffbf8), color-stop(#ffe3c7), color-stop(#ff941e), to(#ff941e));
  background: linear-gradient(to right, #fffbf8, #ffe3c7, #ff941e, #ff941e);
}

.slide2 .content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 30px;
}

.slide2 .content h2 {
  font-size: 33px;
  color: #fff;
}

.slide2 .content p {
  font-size: 16px;
  line-height: 35px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.7);
  margin: 20px 0;
}

.slide2 .content .light-yellow-btn {
  width: 200px;
  height: 40px;
  border: none;
  -webkit-box-shadow: 3px 3px 0 yellow;
          box-shadow: 3px 3px 0 yellow;
  font-size: 16px;
  background-color: #237890;
  color: #fff;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.slide2 .content .light-yellow-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #948ad3;
          box-shadow: 3px 3px 0 #948ad3;
}

.slide2 .content .light-yellow-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.slide2 .content .light-yellow-btn:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.slide3 {
  background: -webkit-gradient(linear, left top, right top, from(#fffbf8), color-stop(#fffffc), color-stop(#fff49a), to(#fff49a));
  background: linear-gradient(to right, #fffbf8, #fffffc, #fff49a, #fff49a);
}

.slide3 .content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 30px;
}

.slide3 .content h2 {
  font-size: 33px;
  color: #fff;
}

.slide3 .content p {
  font-size: 16px;
  line-height: 35px;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.7);
  margin: 20px 0;
}

.slide3 .content .light-blue-btn {
  width: 200px;
  height: 40px;
  border: #237890;
  font-size: 16px;
  background-color: #237890;
  color: #fff;
  -webkit-box-shadow: 3px 3px 0 #237890;
          box-shadow: 3px 3px 0 #237890;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.slide3 .content .light-blue-btn:hover {
  -webkit-box-shadow: 3px 3px 0 #948ad3;
          box-shadow: 3px 3px 0 #948ad3;
}

.slide3 .content .light-blue-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.slide3 .content .light-blue-btn:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.home-bg-container {
  width: 100%;
  background-color: #f3f8fe;
  padding: 40px 0;
}

.home-bg-container .inner-container {
  width: 80%;
  margin: auto;
}

.home-bg-container .inner-container .txt-container {
  text-align: center;
  margin-bottom: 20px;
}

.home-bg-container .inner-container .txt-container h2 {
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 30px;
}

.home-bg-container .inner-container .txt-container p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

.home-bg-container .inner-container .product-sample-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.home-bg-container .inner-container .product-sample-grid .item {
  height: auto;
  width: 330px;
  padding: 20px 0;
}

.home-bg-container .inner-container .product-sample-grid .item .item-img-container {
  width: 100%;
  height: auto;
  position: relative;
  padding: 10px 0;
  background-color: #fff;
}

.home-bg-container .inner-container .product-sample-grid .item .item-img-container img {
  width: 100%;
  height: 100%;
}

.home-bg-container .inner-container .product-sample-grid .item .item-img-container .view {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
}

.home-bg-container .inner-container .product-sample-grid .item .item-img-container .view a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: #f5ea77;
  border-radius: 25px;
}

.home-bg-container .inner-container .product-sample-grid .item .item-img-container .view a:hover {
  background-color: #206e83;
  color: #fff;
}

.home-bg-container .inner-container .product-sample-grid .item .rate-us {
  margin: 10px 0 10px 8px;
}

.home-bg-container .inner-container .product-sample-grid .item .rate-us .fa {
  color: #73d2e6;
}

.home-bg-container .inner-container .product-sample-grid .item .content {
  text-align: center;
}

.home-bg-container .inner-container .product-sample-grid .item .content h3 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #4e4e4e;
}

.home-bg-container .inner-container .product-sample-grid .item .content p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  margin: 10px 0;
}

.home-bg-container .inner-container .product-sample-grid .item .content button {
  width: 150px;
  height: 50px;
  background-color: #206e83;
  border: none;
  -webkit-box-shadow: 3px 3px 0 yellow;
          box-shadow: 3px 3px 0 yellow;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  z-index: 1;
}

.home-bg-container .inner-container .product-sample-grid .item .content button:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

.home-bg-container .inner-container .product-sample-grid .item .content button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.home-bg-container .inner-container .product-sample-grid .item .content button:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.home-container-2 {
  width: 100%;
  background-color: #fff;
  padding: 40px 0;
}

.home-container-2 .inner-container {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

.home-container-2 .inner-container .col h3 {
  font-size: 18px;
}

.home-container-2 .inner-container .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.home-container-3 {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9cc6e0), color-stop(#9cc6e0), to(#e197d1));
  background: linear-gradient(to bottom, #9cc6e0, #9cc6e0, #e197d1);
}

.home-container-3 .inner {
  width: 90%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.home-container-3 .inner .col .img-container {
  width: 100%;
  height: 550px;
}

.home-container-3 .inner .col .img-container img {
  width: 100%;
  height: 100%;
}

.home-container-3 .inner .col .content {
  width: 90%;
  margin: auto;
  background-color: #fff;
  height: 200px;
  text-align: center;
  padding: 20px 100px;
}

.home-container-3 .inner .col .content h4 {
  font-size: 22px;
  font-weight: 600;
}

.home-container-3 .inner .col .content p {
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 25px;
}

.home-container-3 .inner .col .content button {
  width: 250px;
  height: 50px;
  background-color: #206e83;
  border: none;
  -webkit-box-shadow: 3px 3px 0 yellow;
          box-shadow: 3px 3px 0 yellow;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  z-index: 1;
}

.home-container-3 .inner .col .content button:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

.home-container-3 .inner .col .content button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.home-container-3 .inner .col .content button:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.home-container-4 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d4deff;
  padding: 50px;
  position: relative;
  z-index: 1;
}

.home-container-4 .col {
  width: 50%;
  text-align: center;
}

.home-container-4 .col img {
  width: 100%;
}

.home-container-4 .col h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 5px;
}

.home-container-4 .col p {
  font-size: 16px;
  margin-bottom: 25px;
}

.home-container-4 .col button {
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 250px;
  height: 50px;
  background-color: #206e83;
  border: none;
  -webkit-box-shadow: 3px 3px 0 yellow;
          box-shadow: 3px 3px 0 yellow;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  z-index: 1;
}

.home-container-4 .col button:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

.home-container-4 .col button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.home-container-4 .col button:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.home-container-4 .box1 {
  width: 400px;
  height: 400px;
  background-color: #cdcfff;
  position: absolute;
  left: 30%;
  z-index: -1;
}

.home-container-5 {
  width: 100%;
  background-color: #ffe7cd;
  padding: 40px 0;
}

.home-container-5 .inner-container {
  width: 95%;
  margin: auto;
}

.home-container-5 .inner-container .txt-container {
  text-align: center;
  margin-bottom: 20px;
}

.home-container-5 .inner-container .txt-container h2 {
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 30px;
}

.home-container-5 .inner-container .txt-container p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.home-container-5 .inner-container .product-sample-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.home-container-5 .inner-container .product-sample-grid .item {
  height: auto;
  width: 330px;
  padding: 20px 0;
}

.home-container-5 .inner-container .product-sample-grid .item .item-img-container {
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.home-container-5 .inner-container .product-sample-grid .item .item-img-container img {
  width: 100%;
  height: 100%;
}

.home-container-5 .inner-container .content {
  text-align: center;
}

.home-container-5 .inner-container .content h3 a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  color: #4e4e4e;
}

.home-container-5 .inner-container .content p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  margin: 10px 0;
}

.home-container-5 .inner-container .content button {
  width: 150px;
  height: 50px;
  background-color: #206e83;
  border: none;
  -webkit-box-shadow: 3px 3px 0 yellow;
          box-shadow: 3px 3px 0 yellow;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  z-index: 1;
}

.home-container-5 .inner-container .content button:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

.home-container-5 .inner-container .content button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.home-container-5 .inner-container .content button:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.shop-topbanner-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #8ed2e8;
}

.shop-topbanner-container .content {
  width: 55%;
  margin-left: auto;
  background-color: #39455d;
  padding: 50px 15px;
  color: #fff;
}

.shop-topbanner-container .content h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.shop-topbanner-container .content p {
  font-size: 16px;
}

.shop-topbanner-container .img-container {
  width: 40%;
  background: -webkit-gradient(linear, left top, right top, from(#8e9de8), color-stop(#8e9de8), to(rgba(122, 18, 220, 0.4))), url("../img/shop/banner.webp");
  background: linear-gradient(to right, #8e9de8, #8e9de8, rgba(122, 18, 220, 0.4)), url("../img/shop/banner.webp");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  padding: 20px 100px 15px;
}

.shop-topbanner-container .img-container img {
  width: 60%;
}

.shop-container {
  width: 100%;
  background-color: #f3f8fe;
  padding: 40px 0;
}

.shop-container .inner-container {
  width: 95%;
  margin: auto;
}

.shop-container .inner-container .txt-container {
  text-align: center;
  margin-bottom: 20px;
}

.shop-container .inner-container .txt-container h2 {
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 30px;
}

.shop-container .inner-container .txt-container p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.6);
}

.shop-container .inner-container .product-sample-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.shop-container .inner-container .product-sample-grid .item {
  grid-auto-rows: auto;
  width: 320px;
  padding: 20px 8px;
  background-color: #fff;
  position: relative;
}

.shop-container .inner-container .product-sample-grid .item .item-img-container {
  width: 100%;
  height: 300px;
  position: relative;
  text-align: center;
}

.shop-container .inner-container .product-sample-grid .item .item-img-container img {
  width: 98%;
  height: 80%;
}

.shop-container .inner-container .product-sample-grid .item .item-img-container .view {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 150px;
  height: 40px;
}

.shop-container .inner-container .product-sample-grid .item .item-img-container .view a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: #f5ea77;
  border-radius: 25px;
}

.shop-container .inner-container .product-sample-grid .item .item-img-container .view a:hover {
  background-color: #206e83;
  color: #fff;
}

.shop-container .inner-container .product-sample-grid .item .rate-us {
  margin: 10px 0 10px 8px;
  text-align: center;
}

.shop-container .inner-container .product-sample-grid .item .rate-us .fa {
  color: #73d2e6;
}

.shop-container .inner-container .product-sample-grid .item .content {
  text-align: center;
  min-height: 50px;
  padding: 0 20px 100px 20px;
}

.shop-container .inner-container .product-sample-grid .item .content h3 a {
  text-decoration: none;
  font-size: 22px;
  font-weight: 800;
  color: #4e4e4e;
}

.shop-container .inner-container .product-sample-grid .item .content p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
  margin: 10px 0;
}

.shop-container .inner-container .product-sample-grid .item button {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: #206e83;
  border: none;
  -webkit-box-shadow: 3px 3px 0 yellow;
          box-shadow: 3px 3px 0 yellow;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.shop-container .inner-container .product-sample-grid .item button:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

.shop-container .inner-container .product-sample-grid .item button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.shop-container .inner-container .product-sample-grid .item button:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.shop-container .top-space {
  margin-top: 100px;
}

.main-container {
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  background-color: #fff;
}

.main-container .top-container {
  position: relative;
  width: 100%;
  height: 120px;
}

.main-container .top-container .first-div {
  height: 90px;
  background: url("../img/cartview/blue-dots.webp");
  background-position: center;
}

.main-container .top-container .second-div {
  height: 80px;
  width: 80%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e3f6fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px;
}

.main-container .top-container .second-div h1 {
  font-size: 25px;
}

.main-container .main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 80px;
}

.main-container .main-content .table-container {
  width: 65%;
}

.main-container .main-content .table-container table {
  border-collapse: collapse;
  border-bottom: 1px solid gainsboro;
}

.main-container .main-content .table-container tr td {
  border-top: 1px solid gainsboro;
  padding: 20px 30px;
}

.main-container .main-content .table-container tr .img-col div {
  width: 150px;
  height: 100px;
}

.main-container .main-content .table-container tr .img-col div img {
  width: 100%;
  height: 100%;
}

.main-container .main-content .table-container tr .details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.main-container .main-content .table-container tr .details p {
  font-size: 13px;
}

.main-container .main-content .table-container tr .quantity .box {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  height: 30px;
  padding: 2px 6px;
}

.main-container .main-content .table-container tr .quantity .box button, .main-container .main-content .table-container tr .quantity .box input {
  width: 40%;
  height: 98%;
  outline: none;
  border: none;
  background-color: #fff;
}

.main-container .main-content .table-container tr .quantity .box button {
  cursor: pointer;
}

.main-container .main-content .table-container tr .quantity .box button:hover {
  background-color: #537076;
}

.main-container .main-content .table-container tr .quantity .box button:active {
  -webkit-transform: translate(1px);
          transform: translate(1px);
  border: 1px solid red;
}

.main-container .main-content .table-container tr .amount {
  font-weight: 800;
}

.main-container .main-content .table-container tr .delete a {
  color: #000;
  font-size: 13px;
}

.main-container .main-content .table-container tr .delete a:hover {
  color: #777777;
}

.main-container .main-content .aside {
  width: 30%;
}

.main-container .main-content .aside ul {
  width: 90%;
  border: 1px solid black;
  list-style-type: none;
  padding: 30px 20px 5px 20px;
  margin: auto;
}

.main-container .main-content .aside ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  margin-bottom: 10px;
}

.main-container .main-content .aside ul li a {
  color: black;
  font-size: 16px;
}

.main-container .main-content .aside ul li .txt-right {
  margin-left: auto;
}

.main-container .main-content .aside ul li .txt-right a img {
  width: 150px;
  height: 50px;
  border-radius: 50px;
}

.main-container .main-content .aside ul li .txt-right a .fa {
  text-align: center;
}

.product-viem-container {
  background-color: #f4f9fb;
  height: 800px;
  position: relative;
}

.product-viem-container .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 800px;
  gap: 20px;
  background-color: #fff;
}

.product-viem-container .inner .img-col {
  width: 50%;
  height: 70%;
  padding: 30px 20px;
  background: -webkit-gradient(linear, left top, right top, from(#f3daeb), color-stop(#f3daeb), to(#fefbfd));
  background: linear-gradient(to right, #f3daeb, #f3daeb, #fefbfd);
}

.product-viem-container .inner .img-col .container {
  width: 70%;
  height: 90%;
  position: relative;
  margin: auto;
}

.product-viem-container .inner .img-col .container .bg-img {
  width: 98%;
  height: 100%;
  margin-left: auto;
}

.product-viem-container .inner .img-col .container .bg-img img {
  width: 100%;
  height: 100%;
}

.product-viem-container .inner .img-col .container .changing-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product-viem-container .inner .img-col .container .changing-img div {
  width: 50px;
  height: 50px;
}

.product-viem-container .inner .img-col .container .changing-img div img {
  width: 97%;
  height: 97%;
  border-radius: 50px;
}

.product-viem-container .inner .content-col {
  width: 50%;
  padding-top: 50px;
}

.product-viem-container .inner .content-col span {
  font-size: 13px;
}

.product-viem-container .inner .content-col h3 {
  margin-top: 15px;
}

.product-viem-container .inner .content-col .rate-us {
  color: #73d2e6;
  margin-top: 15px;
}

.product-viem-container .inner .content-col p {
  margin-top: 5px;
  margin-bottom: 15px;
}

.product-viem-container .inner .content-col p a {
  font-size: 13px;
  color: black;
}

.product-viem-container .inner .content-col ul {
  margin-bottom: 15px;
}

.product-viem-container .inner .content-col ul li {
  list-style-position: inside;
}

.product-viem-container .inner .content-col a {
  color: black;
}

.product-viem-container .inner .content-col .unset {
  margin: unset;
}

.product-viem-container .inner .content-col .inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.product-viem-container .inner .content-col .inline .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.product-viem-container .inner .content-col .inline .flex-container .img-col {
  width: 40%;
  height: 40px;
  background: #fff;
  padding: unset;
}

.product-viem-container .inner .content-col .inline .flex-container .img-col img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.product-viem-container .inner .content-col .flex-qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  gap: 10px;
  width: 80%;
}

.product-viem-container .inner .content-col .flex-qty .size {
  width: 20%;
  height: 30px;
}

.product-viem-container .inner .content-col .flex-qty .size select {
  width: 100%;
  height: 98%;
  outline: none;
}

.product-viem-container .inner .content-col .flex-qty .qty {
  width: 30%;
}

.product-viem-container .inner .content-col .flex-qty .qty .box {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid black;
  height: 30px;
  padding: 2px 6px;
  margin: unset;
}

.product-viem-container .inner .content-col .flex-qty .qty .box button,
.product-viem-container .inner .content-col .flex-qty .qty .box input {
  width: 40%;
  height: 98%;
  outline: none;
  border: none;
  background-color: #fff;
}

.product-viem-container .inner .content-col .flex-qty .qty .box button {
  cursor: pointer;
}

.product-viem-container .inner .content-col .flex-qty .qty .box button:hover {
  background-color: #537076;
}

.product-viem-container .inner .content-col .flex-qty .qty .box button:active {
  -webkit-transform: translate(1px);
          transform: translate(1px);
  border: 1px solid red;
}

.product-viem-container .inner .content-col .btn-con {
  width: 100%;
  height: 60px;
  position: relative;
  margin-top: 15px;
}

.product-viem-container .inner .content-col .btn-con button {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: #f5ea77;
  border: none;
  -webkit-box-shadow: 3px 3px 0 #206e83;
          box-shadow: 3px 3px 0 #206e83;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.product-viem-container .inner .content-col .btn-con button:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

.product-viem-container .inner .content-col .btn-con button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.product-viem-container .inner .content-col .btn-con button:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.product-viem-container .inner .content-col .p-space {
  margin-top: 35px;
}

.container-view {
  background: -webkit-gradient(linear, left top, right top, from(rgba(200, 147, 183, 0.5)), to(rgba(175, 131, 159, 0.5))), url("../img/login_register/circle-bk.png");
  background: linear-gradient(to right, rgba(200, 147, 183, 0.5), rgba(175, 131, 159, 0.5)), url("../img/login_register/circle-bk.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 50px 0;
}

.container-view .register-inner {
  background-color: #fff;
  width: 70%;
  margin: auto;
  padding: 30px 0;
}

.container-view .register-inner .title {
  text-align: center;
  margin-bottom: 15px;
}

.container-view .register-inner .title h1 {
  font-size: 20px;
}

.container-view .register-inner .title span {
  font-weight: 500;
  font-size: 12px;
}

.container-view .register-inner form {
  width: 70%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.container-view .register-inner form .col {
  width: 100%;
}

.container-view .register-inner form .col label {
  display: block;
  font-size: 16px;
  width: 100%;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 15px;
  margin-bottom: 5px;
}

.container-view .register-inner form .col .error {
  margin: unset;
}

.container-view .register-inner form .col input,
.container-view .register-inner form .col select {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 15px;
}

.container-view .register-inner form .extra {
  font-size: 12px;
  margin-top: 15px;
}

.container-view .register-inner form .extra label {
  display: block;
}

.container-view .register-inner form .extra input {
  margin-right: 5px;
  margin-top: 5px;
}

.container-view .register-inner form .proceed-container {
  grid-column: span 2;
  margin: auto;
}

.container-view .register-inner form .proceed-container .btn {
  position: relative;
  height: 100px;
}

.container-view .register-inner form .proceed-container .btn button {
  display: block;
  margin: auto;
  width: 200px;
  height: 40px;
  background-color: #206e83;
  border: none;
  -webkit-box-shadow: 3px 3px 0 yellow;
          box-shadow: 3px 3px 0 yellow;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.container-view .register-inner form .proceed-container .btn button:hover {
  background-color: #1a5261;
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

.container-view .register-inner form .proceed-container p {
  font-weight: 500;
  font-size: 14px;
}

.container-view .register-inner form .proceed-container p a {
  color: black;
}

.container-view .login-inner {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  gap: 30px;
  margin: auto;
}

.container-view .login-inner .col {
  width: 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
  padding: 40px 0;
}

.container-view .login-inner .col div {
  margin-bottom: 15px;
  padding: 0 60px;
  position: relative;
  height: 100px;
}

.container-view .login-inner .col div h5 {
  font-size: 22px;
  font-weight: 200;
  margin-bottom: 15px;
}

.container-view .login-inner .col div p {
  font-size: 16px;
}

.container-view .login-inner .col div ul {
  font-size: 16px;
  list-style-position: inside;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  padding: 15px 0;
}

.container-view .login-inner .col div input {
  display: block;
  width: 100%;
  min-height: 40px;
  padding-left: 15px;
}

.container-view .login-inner .col div input:nth-last-child(2) {
  margin-top: 20px;
}

.container-view .login-inner .col div .btn2 {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: #206e83;
  border: none;
  -webkit-box-shadow: 3px 3px 0 yellow;
          box-shadow: 3px 3px 0 yellow;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.container-view .login-inner .col div .btn2:hover {
  background-color: #1a5261;
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

.container-view .login-inner .col div .btn1 {
  display: block;
  margin: auto;
  width: 200px;
  height: 50px;
  background-color: #206e83;
  border: none;
  -webkit-box-shadow: 3px 3px 0 yellow;
          box-shadow: 3px 3px 0 yellow;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}

.container-view .login-inner .col div .btn1:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

.container-view .login-inner .col div .btn1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.container-view .login-inner .col div .btn1:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.container-view .login-inner .col div a {
  color: black;
}

.container-view .login-inner .col div button a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.container-view .login-inner input:focus,
.container-view .login-inner select:focus {
  outline: 3px solid red;
  border: 1px solid #a23d3d;
}

footer {
  width: 100%;
  background-color: #ebebeb;
}

footer .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top .col1 {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #73d2e6;
  padding: 50px 100px 30px 0;
}

footer .footer-top .col1 .sub-col {
  width: 20%;
}

footer .footer-top .col1 .sub-col h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

footer .footer-top .col1 .sub-col ul {
  list-style-type: none;
}

footer .footer-top .col1 .sub-col ul li a {
  color: #4e4e4e;
  font-weight: 600;
  font-size: 13px;
}

footer .footer-top .col1 .sub-col .inline {
  margin-top: 15px;
}

footer .footer-top .col1 .sub-col .inline div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-top .col1 .sub-col .inline div li {
  margin-right: 5px;
  background-color: white;
  border-radius: 50px;
  padding: 10px 8px 5px;
}

footer .footer-top .col1 .sub-col .inline div li img {
  width: 30px;
  height: 30px;
}

footer .footer-top .col1 .sub-col .inline .space {
  margin-top: 20px;
}

footer .footer-top .col1 .img-con img {
  width: 100%;
  height: 130px;
  font-size: 16px;
}

footer .footer-top .col2 {
  background-color: #f5ea77;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-top .col2 h4 {
  font-size: 20px;
  margin-bottom: 15px;
}

footer .footer-top .col2 p {
  font-size: 16px;
  margin-bottom: 30px;
}

footer .footer-top .col2 input {
  min-height: 50px;
  text-align: center;
  width: 80%;
  margin-bottom: 30px;
}

footer .footer-top .col2 button {
  display: block;
  width: 80%;
  height: 50px;
  background-color: #206e83;
  border: none;
  -webkit-box-shadow: 3px 3px 0 yellow;
          box-shadow: 3px 3px 0 yellow;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  position: relative;
  z-index: 1;
}

footer .footer-top .col2 button:hover {
  -webkit-box-shadow: 3px 3px 0 #fdb1be;
          box-shadow: 3px 3px 0 #fdb1be;
}

footer .footer-top .col2 button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #6A5CC1;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

footer .footer-top .col2 button:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

footer .footer-bottom {
  width: 95%;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 40px;
}

footer .footer-bottom h4 {
  font-size: 20px;
}

footer .footer-bottom p {
  font-size: 15px;
  margin: 20px 0;
}

footer .footer-bottom p a {
  color: #000;
}

@media (max-width: 1024px) {
  .page-container header .nav {
    width: 90%;
  }
  .page-container header .nav .main-nav {
    width: 100%;
  }
}

@media (max-width: 876px) {
  .page-container header .nav {
    width: 100%;
  }
  .page-container header {
    height: auto;
  }
  .page-container header .nav .main-nav {
    width: 100%;
    font-size: 10px;
  }
  header .nav .main-nav li a {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .tablet-mobile-view {
    display: none !important;
  }
  .pop-out {
    display: none !important;
    margin: unset;
    padding: unset;
  }
  .page-container header .nav {
    width: 100%;
  }
  .page-container header .nav {
    display: none;
  }
  .page-container header .nav .main-nav {
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 0px;
    left: 0;
    width: 100%;
    min-height: 50vh;
    background-color: #e3f6fa;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    margin: unset;
    padding: unset;
    border-bottom: 1px solid #fff;
  }
  .page-container header .nav .main-nav .dropdown {
    width: 100%;
    margin: unset;
    padding: unset;
    border-bottom: 1px solid #fff;
  }
  .page-container header .nav .main-nav .dropdown a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px;
    font-size: 18px;
  }
  .page-container header .nav .main-nav .dropdown .mega-menu {
    padding: unset;
    overflow: scroll;
  }
  .page-container header .nav .main-nav .dropdown .mega-menu .sub-menu-container {
    margin: unset;
    padding: unset;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
  }
  .page-container header .nav .main-nav .dropdown .mega-menu .sub-menu-container .sub-col {
    margin: unset;
    padding-left: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: -webkit-fit-content !important;
    min-height: -moz-fit-content !important;
    min-height: fit-content !important;
    gap: 0;
  }
  .page-container header .nav .main-nav .dropdown .mega-menu .sub-menu-container .sub-col div {
    width: 100%;
  }
  .page-container header .nav .main-nav .dropdown .mega-menu .sub-menu-container .sub-col div h3 {
    width: 100%;
    margin: unset;
    padding: unset;
    border-bottom: none;
  }
  .page-container header .nav .main-nav .dropdown .mega-menu .sub-menu-container .sub-col div h3 a {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 200;
  }
  .page-container header .nav .main-nav .dropdown .sub-col a {
    padding: unset;
  }
  .page-container header nav .left-col .hamburger {
    display: block !important;
    padding-top: 5px;
    position: relative;
    cursor: pointer;
  }
  .page-container header nav .left-col .hamburger .bar {
    height: 5px;
    width: 30px;
    background-color: white;
    margin-top: 5px;
  }
  .page-container header nav .left-col .hamburger:hover .nav {
    display: block;
  }
  .page-container header nav .left-col .text,
  .page-container header nav .right-col .text {
    display: none !important;
  }
}

.nav.nav-show {
  display: block !important;
}

.pop-out.nav-show {
  display: block !important;
}

@media (max-width: 768px) {
  .main-slider {
    width: 100%;
  }
  .swiper {
    width: 80%;
  }
  .slide-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .slide-container {
    background: #fff !important;
  }
  .slide-container .img-container {
    width: 90%;
    height: 300px;
  }
  .slide-container .content {
    text-align: center;
    margin-top: 15px;
  }
  .slide-container .content h2 {
    font-size: 20px;
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }
  .slide-container .content p {
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    margin: unset;
    line-height: 20px;
  }
  .slide-container .content button {
    margin: 30px 0;
  }
}

.home-bg-container .inner-container {
  width: 98%;
}

.home-bg-container .inner-container .txt-container h2 {
  font-size: 18px;
}

.home-bg-container .inner-container .txt-container p {
  font-size: 13px;
}

.home-bg-container .inner-container .item {
  width: 300px !important;
}

.home-bg-container .inner-container .item .item-img-container {
  height: 220px !important;
}

.home-bg-container .inner-container .item .item-img-container img {
  height: 80% !important;
}

.home-bg-container .inner-container .item .content h3 a {
  font-size: 18px !important;
}

.home-bg-container .inner-container .item .content p {
  margin-top: unset !important;
}

.home-container-2 .inner-container {
  display: -ms-grid !important;
  display: grid !important;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.home-container-2 .inner-container .col-span {
  grid-column: span 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.home-container-3 .inner .col {
  width: 100%  !important;
  height: auto !important;
}

.home-container-3 .inner .col .img-container {
  height: 300px !important;
}

.home-container-3 .inner .col .content {
  height: 200px !important;
  padding: 10px !important;
}

.home-container-3 .inner .col .content h4 {
  font-size: 18px;
}

.home-container-3 .inner .col .content p {
  font-size: 13px;
}

.home-container-3 .inner .col .content button {
  width: 200px;
}

.hide-home-container5-product {
  display: none !important;
}

@media (max-width: 683px) {
  .mobile-view {
    display: none !important;
  }
  .swiper {
    width: 100%;
  }
  .swiper .slide-container {
    background: #fff !important;
  }
  .swiper .slide-container .img-container {
    width: 80%;
  }
  .home-container-2 .inner-container img {
    width: 30px;
    height: 20px;
  }
  .home-container-2 .inner-container h3 {
    font-size: 13px !important;
  }
  .home-container-2 .inner-container h4 {
    font-size: 8px !important;
  }
  .home-container-2 .inner-container p {
    font-size: 6px !important;
  }
  .home-container-3 {
    background: #fff;
  }
  .home-container-3 .inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home-container-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home-container-4 .col {
    width: 100%;
  }
}

@media (max-width: 768px) {
  footer .footer-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  footer .footer-top .col1, footer .footer-top .col2 {
    width: 100%;
  }
  footer .footer-top .col2 {
    padding: 50px !important;
  }
  footer .footer-top .col1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'first' 'second' 'third' 'fourth';
    padding: unset !important;
  }
  footer .footer-top .col1 .sub-col {
    text-align: left;
    width: 90%;
    margin: auto;
  }
  footer .footer-top .col1 .sub-col ul {
    display: none;
    width: 100%;
  }
  footer .footer-top .col1 .sub-col ul li a {
    display: block;
    width: 100%;
  }
  footer .footer-top .col1 .sub-col h4 {
    margin: unset;
    cursor: pointer;
    padding: 15px 0;
    border-bottom: 1px solid #fff;
  }
  footer .footer-top .col1 .sub-col .inline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-top .col1 .first {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: first;
  }
  footer .footer-top .col1 .second {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: second;
  }
  footer .footer-top .col1 .third {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: third;
  }
  footer .footer-top .col1 .img-con {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: fourth;
  }
}
/*# sourceMappingURL=main.css.map */