@font-face {
  font-family: archer;
  src: url(ARCHER.TTF);
}
// color variables
$text-primary: #fff;
$text-primary2: #333333;
$header-bg-color: #8cd0e3;
$mega-bg-color: #e3f6fa;
$slide1-bg-color: #ffba8b;

$slide2-bg-color1:#ffe3c7;
$slide2-bg-color2:#ff941e;
$slide3-bg-color1:#fffffc;
$slide3-bg-color2:#fff49a;
// font variables
$fontsize1: 13px;
$fontsize2: 16px;
$fontsize3: 18px;
$fontsize4: 33px;
$fontsize5: 43px;

$fontwt1: 100;
$fontwt2: 500;
$fontwt3: 700;
$fontwt4: 900;
